html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000f47;
}

#game {
    max-width: 160px;
    margin: 0 auto;
}

#display {
    width: 100%;
}

canvas {
    width: 100%;
}

#up, #down {
    width: 50%;
    margin-left: 25%;
    float: left;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

button {
    border: 1px solid gray;
    background-color: white;
    height: 50px;
}

button:hover {
    border: 1px solid red;
}

button:active {
    background-color: gray;
}
